apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: payment-service:latest    ####~## i need to build the image and k3d needs to import it 
          ports:
            - containerPort: 8085
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"

            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://payment-db:5432/payment_db"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "postgres"

            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "update"

            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:29092"

            # Stripe from Kubernetes Secret
            - name: STRIPE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: payment-stripe-secret
                  key: STRIPE_SECRET_KEY

            - name: STRIPE_CURRENCY
              valueFrom:
                secretKeyRef:
                  name: payment-stripe-secret
                  key: STRIPE_CURRENCY
